#container {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: regular;
    margin: 10px;
    padding: 4px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: 'Helvetica', sans-serif;
}

.link:hover {
    background-color: #000;
    color: #fff;
}

body {
    background-color: #f0f0f0;
    font-family: 'Helvetica', sans-serif;
}   
